:root {
  box-sizing: border-box;
  --filter-color: #4d5ae5;
  --sample-items-color: #2e2f42;
  --background-color: #f4f4fd;
  --sample-text: #434455;
  --activelinkcolor: #404bbf;
  --activebglink: #ffffff;
  --cornflower: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--sample-text);
  background-color: var(--activebglink);
}

/* reset */
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* basic styles */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-inline-start: 0;
}
.conteiner {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 60px 0;
}
/*------------- header styles -------------*/
/* header */

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--filter-color);
  padding: 1.5px 0;
  margin-right: 76px;
}
.header-logo-accent {
  color: var(--sample-items-color);
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}
.footer-logo-accent {
  color: var(--background-color);
}
.nav-list {
  display: inline-flex;
  gap: 40px;
}

.header-nav {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
  padding: 24px 0;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--activelinkcolor);
}

.address {
  font-style: normal;
}
.address-list {
  display: inline-flex;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}
.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-text);
}
.address-link:hover,
.address-link:focus {
  color: var(--activelinkcolor);
}

/*------------- Footer -------------*/

.footer {
  background-color: var(--sample-items-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

/*------------ Web studio -------------*/

/* Hero styles */
.hero {
  background-color: var(--sample-items-color);
  color: var(--activebglink);
  margin-bottom: 60px;
}
.hero-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 188px;
  height: 600px;
}
.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: var(--filter-color);
  color: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 4px;
  border-radius: 4px;
  padding: 16px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--activelinkcolor);
}

/* Busines Actions Styles */
.actions-list {
  display: flex;
  flex-wrap: wrap;

  column-gap: 24px;
}
.actions-list-item {
  display: flex;
  width: 264px;
  row-gap: 8px;
  flex-direction: column;
}
.action-item-conteiner {
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
}

/* section actions */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--sample-items-color);
  padding-bottom: 72px;
}
.action-image {
  max-width: 100%;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

/* Team Cards Styles */

.team-section {
  background-color: var(--background-color);
}

.team-card-item {
  background-color: var(--activebglink);
}

/*------------- Portfolio --------------*/

/* Filter buttons */

.filter-button-list {
  list-style-type: none;
}
.filter-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--filter-color);
  background-color: var(--background-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--activebglink);
  background-color: var(--activelinkcolor);
}

/* Sample of products */

.sample-title {
  color: var(--sample-items-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--sample-text);
}

.sample-list-item {
  background-color: var(--activebglink);
}
